.banner-login {
    border-radius: 0 0 20px 20px;
    padding: 42px 20px 8px;
    height: 420px;
    background-image: linear-gradient(rgba(3,37,65,0.45), rgba(3,37,65,0.45)), url('/asset/image/banner.png');
    background-size: cover;
    background-position: center;
}

.banner-header {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.banner-description h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    line-height: 40px;
}

.banner-description p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    line-height: 24px;
}

.content {
    background: #ffffff;
}

.form-login {
    padding: 24px;
}

.greeting-text h2 {
    font-size: 36px;
    font-weight: bolder;
    line-height: 40px;  
    margin-bottom: 6px;  
}

.greeting-text p {
    font-size: 16px;    
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

.input-label {
    margin-bottom: 24px;    
    
}

.input-label label {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.input-label input {
    padding: 16px 24px;
    border-radius: 16px;
}

.input-label select,
.input-label textarea {
    padding: 16px 24px;
    border-radius: 16px;
}

.input-label input:focus {
    outline: none;
    border: 2px solid #137FEC;
}

.input-label select:focus,
.input-label textarea:focus {
    outline: none;
    border: 2px solid #137FEC;
}


@media (min-width: 992px) {
    body {
        overflow-y: hidden;
    }
    main {
        display: flex;
        height: 100vh;
        align-items: stretch;
    }

    .banner-login {
        flex: 0 0 40%;
        height: 100vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        background-image: linear-gradient(rgba(3,37,65,0.8), rgba(3,37,65,0.8)), url('/asset/image/banner.png');
    }

    .content {
        flex: 0 0 60%;
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Align to top */
        padding: 3rem 2rem;
        overflow-y: auto; /* Enable scrolling for this container only */
    }

    .form-login {
        width: 100%;
        max-width: 650px;
        padding: 0;
    }
}
